.container {
	width: 800px;
	height: 805px;
	margin: auto;
	outline: 1px solid grey;
}

.col {
	width: 12.5px;
	height: 12.5px;
	/*outline: 1px solid;*/
	display: inline-block;
	background-color: white;
	border-radius: 50%;
}
.nav {
	display: flex;
	width: 800px;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	margin-bottom: 20px;
	/*margin-top: 20px;*/

}

input {
	padding: 5px 10px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid grey;
	font-size: 15px;
}

.ui-slider .ui-slider-handle:focus {
	outline: 0;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

#slider {
	width: 600px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

input:focus {
	outline: 0;
}

